@font-face {
	font-family: 'FoundersGrotesk';
	font-weight: normal;
	src: url('https://res.cloudinary.com/daitiebum/raw/upload/v1604093719/fonts/founders-grotesk/FoundersGrotesk-Regular.otf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'FoundersGrotesk';
	font-weight: 300;
	src: url('https://res.cloudinary.com/daitiebum/raw/upload/v1604093718/fonts/founders-grotesk/FoundersGrotesk-Light.otf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: normal;
	src: url('https://res.cloudinary.com/daitiebum/raw/upload/v1604092085/fonts/playfair-display/PlayfairDisplay-Regular.ttf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: 500;
	src: url('https://res.cloudinary.com/daitiebum/raw/upload/v1604092087/fonts/playfair-display/PlayfairDisplay-Medium.ttf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}
  