@font-face {
	font-family: 'FoundersGrotesk';
	font-weight: normal;
	src: url('~assets/fonts/FoundersGrotesk/FoundersGrotesk-Regular.otf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'FoundersGrotesk';
	font-weight: 300;
	src: url('~assets/fonts/FoundersGrotesk/FoundersGrotesk-Light.otf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: normal;
	src: url('~assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: 500;
	src: url('~assets/fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-weight: 700;
	src: url('~assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Canela';
	font-weight: normal;
	src: url('~assets/fonts/Canela/Canela-Regular.ttf')
		format('truetype'); /* Safari, Android, iOS */
	text-rendering: optimizeLegibility;
}
  